#about{
 height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.bg_img{
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 90vh;
}
.aboutContent{
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.hello{
  font-size: 1.75rem;
  font-weight: 100;
}
.aboutname{
  color: rgb(96, 255, 247);
}
.aboutpara{
  font-size: medium;
  font-weight: 300;
}
.highlight{
  color: rgb(26, 243, 232); 
  font-weight: 400;
}

/*Responsive-css*/
@media screen and (max-width:480px){
  .bg_img{
    right: -10vw;
  }
  .aboutContent{
    font-size: 10vw;
  }
  
}
@media screen and (max-width:840px){
  .bg_img{
    right: -20vw;
  }
  
  
}