#contactpage{
  min-height: calc(100vh-4rem);
  width: 100vw; 
  max-width:60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactDesp{
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}
.contactForm{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}
.name, .email, .msg{
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background:rgb(40, 40, 40) ;
}
.submitBtn{
  background: white;
  border: none;
  padding: 0.75rem 3.5rem;
  margin: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}


.submitBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.submitBtn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.submitBtn-white {
  background-color: #fff;
  color: #777;
}

.submitBtn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.submitBtn-white::after {
  background-color: #fff;
}

.submitBtn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.submitBtn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
