.navbar{
  background: rgb(30,30,30);
  height: 5rem;
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo{
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}
.menuListItem{
  margin: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.menuListItem:hover{
  color: rgb(96, 255, 247);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(96, 255, 247);
}
.menu_button{
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
.menu_img{
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}
/* .menu_button:hover{
  border: 5px solid rgb(rgba(15, 240, 221, 0.534), rgba(29, 245, 227, 0.692), rgba(10, 156, 167, 0.582));
} */
.active{
  color: aquamarine;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid aquamarine;
}
.mobMenu{
  display: none;
  object-fit: cover;
  height: 1.2rem;
}
.navmenu{
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;

}
.listItem{
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  border-radius: ;
  background: rgb(30,30,30);

}
/*Responsive*/
@media screen and (max-width:720px) {
  .mobMenu{
    display: flex;
  }
  .menu{
    display: none;
  }
  .menu_button{
    display: none;
  }
  
}