.links{
  display: flex;
  justify-content: center;
  align-items: center

}
.link{
  background-color: transparent;
  margin: 0 0.75rem;
}

.size:hover{
  color: rgb(96, 255, 247);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(96, 255, 247);
}
.size{
  width: 40px;
  height: 40px;
}