#works{
  margin: 0 auto;
  min-height: calc(100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}
.workstitle{
  margin: 1rem 0;
  font-size: 3rem;
}
.worksdesp{
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;

}
.worksImgs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
}
.worksImg{
  object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.worksImg:hover{
  webkit-transform: scale(0.8);
  ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  border: 2px solid white;
}
.workBtn{
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 2rem;
  background: white;
  font-size: 1rem;
  cursor: pointer;
}
.workBtn:hover{
  transition: 1s ease-in-out;
  background: #4F95DA;
}

/*Responsive-css*/
@media screen and (max-width:585px){
  .worksImg{
    height: 48vw;
  }
}